<!DOCTYPE html>
<html>
    <%- partial('_partial/head')%>
    <body>
        <main class="main"><%- body %></main>
        <div class="gotop iconfont">&#xe69e;</div>
        <%- partial('_partial/footer')%>
    </body>
    <%- partial('_partial/script') %>
</html>