<div class="comment-wrap">
    <h4 class="comment-title">发表评论</h4>
    <div id="vcomments"></div>
</div>

<script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
<script src='//unpkg.com/valine/dist/Valine.min.js'></script>
<script>
    new Valine({
        el: '#vcomments',
        appId: "6xRnVW2YpYshxRgJQmnbQClt-gzGzoHsz",
        appKey: "yyMIFqybp7vgV4dqTLJpWmLp",
        placeholder: "眼见何事，情系何方，身在何处，心思何人？",
        notify: true, // 邮件提醒
        verify: false, // 验证码
        meta: ['nick','mail'] // ['nick','mail','link']
    })
</script>