<div class="footer">
    <p>本站访客数<span id="busuanzi_value_site_uv"></span>人次</p>
    <p>
        Powered By <a href="https://hexo.io/" target="_blank">Hexo</a>. 
        Theme By <a href="">coolone</a>.
    </p>
    
    <p>Copyright © <%- date(new Date(), 'YYYY') %> <%= config.author %></p>
</div>
