<!-- <% if (page.total > 1){ %>
    <nav class="page-nav">
        <% var prev_text = "上一页";var next_text = "下一页"%>
        <%- paginator({
            prev_text: prev_text,
            next_text: next_text
        }) %>
    </nav>
<% } %> -->
<% if (page.total > 1){ %>
<nav class="pagination" role="pagination">
    <% if (page.prev) { %>
    <a class="page-btn" href="<%- url_for(page.prev_link) %>">
        <span class="iconfont">&#xe679;</span> 上一页
    </a>
    <% } %>
    <% if (page.next) { %>
    <a class="page-btn" href="<%- url_for(page.next_link) %>">
        下一页 <span class="iconfont">&#xe6a3;</span>
    </a>
    <% } %>
</nav>
<% } %>