.comment-wrap
    width: 100%
    margin: 20px auto 0 auto
    overflow: hidden
    padding: 10px
    box-sizing: border-box
    @extend $card
    .comment-title
        padding: 0 10px
        font-size: 1.4em
        color: #333
        line-height: 46px
#vcomments
    .vwrap
        border: none
        border-bottom: 2px solid #f3f3f3;
    #veditor
        background: #f8f8f8;
    .vnick, .vmail
        width: 44%
        margin-right: 6%
    .vsubmit
        color: #ffffff
        border: none
        background: #0c79a5
        padding: .5rem 2.25rem
    .vsys
        display: none
    .vlist
        padding: 0 20px 
        box-sizing: border-box
    .vquote
        background: #f8f8f8
        padding: 0 1em

@media screen and (max-width:480px)
    #vcomments
        width: 100%