.header
    width: 100%
    height: 524px
    background-repeat: no-repeat
    background-attachment: fixed
    background-position: top center
    position: relative
    &.header-index
        background-image:url(../image/index-banner.png)
    &.header-post
        height: 400px
        background-image:url(../image/post-banner.png)
    &.header-archive
        height: 400px
        background-image:url(../image/post-banner.png)
    &.header-resume
        height: 400px
        background-image:url(../image/post-banner.png)
    .header-bar-wrap
        width: 100%
        height: 90px
        transition: background-color .3s cubic-bezier(.4, 0, .2, 1),box-shadow .15s linear
        .header-bar
            width: 1200px
            height: 100%
            margin: 0 auto
        &.fixed
            @extend $card
            position: fixed
            color: #333
            z-index: 1001
            height 60px
            .logo
                top: 15px
            .logo-title
                color: #000
                line-height: 60px
            .menu-item
                color: rgba(0, 0, 0, .8)
                line-height: 60px
            .search
                padding: 15px 0
                .iconfont
                    top: 19px
                    color: rgba(0, 0, 0, .8)
                input
                    border: 1px solid rgba(0, 0, 0, .2)
                    color: rgba(0, 0, 0, .8)
                
.header-title
    display: inline-block
    height: 100%
    position: relative
    padding-left: 40px
    .logo
        width: 30px
        height: 30px
        position: absolute
        top: 30px
        left: 0
    .logo-dark
        display: none
    .logo-title
        font-size: 2em
        color: #FFF
        font-weight: 100
        line-height: 90px
.menu
    float: right
    .menu-item
        line-height: 90px
        font-size: 1.2em
        margin: 8px
        padding: 4px
        color: rgba(255, 255, 255, .8)
.menu-mobile
    display: none
.search
    float: right
    position: relative
    padding: 30px 0
    margin: 0 0 0 10px
    input
        border-radius: 20px
        width: 100px
        height: 30px
        opacity: .5
        padding: 0 14px 0 26px
        box-sizing: border-box
    .iconfont
        position: absolute
        top: 34px
        left:5px
        color: #FFF
        font-size: 1.4em
.index-slogan
    display: none
.post-title
    width: 1200px
    position: absolute
    bottom: 70px
    left: 50%
    margin-left: -600px
    color: #ffffff
    z-index: 1000
    h1
        font-size: 3em
        font-weight: bold
        text-shadow: 0 2px 4px rgba(0, 0, 0, .2)
    .post-subtitle
        font-size: 1.2em
        line-height: 2.6em
        display: flex
        .post-subtitle-item
            display: flex
            margin-right: 16px
            color: rgba(255, 255, 255, .8)
            .iconfont
                font-size: 1em
                margin-right: 2px
            a
                color: rgba(255, 255, 255, .8)

@media screen and (max-width:480px)
    .header
        height: 180px 
        background-size:auto 180px
        &.header-post, &.header-archive, &.header-resume
            height: 180px 
            background-size:auto 180px
        .header-bar-wrap
            height: 50px
            .header-bar
                width: 100%
                height: 100%
                .header-title
                    padding-left: 35px
                    .logo
                        width: 20px
                        height: 20px
                        top: 15px
                        left: 10px
                    .logo-title
                        font-size: 1.4em
                        line-height: 50px
                        display: none
                .menu
                    display: none
            &.fixed
                height 50px
                .logo
                    top: 10px
                .logo-title
                    line-height: 50px
                    display: inline !important
                .menu-moblie-icon
                    color: #333
    .index-slogan
        display: block
        position: absolute
        width: 100%
        padding: 10px 10px
        box-sizing: border-box
        bottom: 10px
        left: 0
        h1
            font-size: 1.6em
            color: rgba(255, 255, 255, 1)
            text-shadow: 0 2px 2px rgba(0, 0, 0, .2)
        p
            font-size: 1.2em
            line-height: 30px
            color: rgba(255, 255, 255, .6)
            text-shadow: 0 2px 2px rgba(0, 0, 0, .2)
    .post-title
        width: 100%
        bottom: 0
        left: 0
        margin: 0
        padding: 0 8px
        box-sizing: border-box
        h1
            font-size: 1.8em
            width: 96%
            margin: 0 auto
        .post-subtitle
            font-size: 1em
            line-height: 40px
            width: 96%
            height: 40px
            margin: 0 auto
            background: #FFF
            box-shadow: 0 1px 2px rgba(0, 0, 0, .14)
            transform: translateY(18px)
            padding: 0 8px
            box-sizing: border-box
            .post-subtitle-item
                color: #727272
                a
                    color:#727272
    .menu-mobile
        display: block
        float: right
        .menu-moblie-icon
            width: 50px 
            height: 50px
            line-height: 50px
            text-align: center
            font-size: 1.4em
            color: #FFF
        .menu-mobile-panel
            position: fixed
            top: 50px
            right: 10px 
            background: #FFF
            padding: 8px 6px
            box-shadow: 0 2px 2px rgba(0, 0, 0, .2)
            text-align: center
            z-index 10000
            transform: translate3d(200%, 0, 0)
            opacity: 0
            transition:all 0.3s ease-in-out
            &.show
                transform: translate3d(0, 0, 0)
                opacity: 1
                transition:all 0.3s ease-in-out
            .menu-mobile-item
                display: block
                color: #333333
                font-size: 1.2em
                line-height: 42px
                padding: 0 16px
                border-bottom: 1px solid #f1f1f1
                &:last-child
                    border: none

                
