.index-con
    width: 1200px
    margin: 0 auto
    transform: translateY(-46px)
    margin-bottom: -46px
    z-index 100
    display: flex
    overflow: hidden
    @extend $card
    .index-con-left
        width: 100%
        flex-shrink: 1
    .index-con-right
        width: 300px
        flex-shrink: 0
        margin: 20px 0
        padding: 0 20px
        box-sizing: border-box
/* about me*/
.about-me
  width: 100%
  padding: 0 20px
  box-sizing: border-box
  .am-hd
    text-align: center
    padding: 20px 10px
    .head-img
      width: 80px
      height 80px
      border-radius: 42px
      overflow hidden
      padding: 2px
      border: 1px solid #e6e6e6;
  .am-bd
    text-align: center
    .author
      font-size: 1.4em
      line-height: 1.8em
      color: $color-default
    .introduce
      font-size: .8em
      line-height: 1.6em
      color: $color-grey
    .location
      font-size: .8em
      line-height: 1.6em
      color: $color-light
  .am-ft
    display: flex
    justify-content: center
    // border-top: 1px solid #eceff2;
    padding: 20px 0
    a
      color: $color-light
      margin: 0 7px
      span
        font-size: 2em

/* categories_list */
.widget
  padding: 30px 0
  border-bottom: 1px solid #e6e6e6;
  &:last-child
    border: none
  .widget-title
    font-size: 1.2em
    line-height: 2em
    color: $color-default
  .widget-con
    padding: 10px 0 0 0px
    .widget-list-item
      font-size: 1em
      line-height: 2em
      cursor: pointer
      .widget-list-link
        color: $color-light
        &:hover
          color: $color-default
      .widget-list-count
        color: $color-light
        &:hover
          color: $color-default
        font-size: .8em
        &::before
          content: ' ('
        &::after
          content: ')'  

// @media screen and (max-width:760px) {
    
// }


@media screen and (max-width:480px)
    .index-con
        width: 100%
        transform: translateY(0)
        margin-bottom: 0
        .index-con-right
            display: none